<nav class="nav justify-content-between py-4 border-bottom text-secondary">
  <a class="nav-link active" routerLink="/wizard/project-details" routerLinkActive="active">
    <span>
      <div class="text-center">
        <i class="fas fa-2x fa-list-alt"></i>
      </div>
      Project Details
    </span>

    <span class="text-center">
      <i class="fas fa-chevron-right"></i>
    </span>
  </a>
  <a class="nav-link active" routerLink="/wizard/project-settings" routerLinkActive="active">
    <span>
       <div class="text-center">
      <i class="fas fa-2x fa-desktop"></i>
    </div>
    Project Settings
    </span>
    <span class="text-center">
      <i class="fas fa-chevron-right"></i>
    </span>
  </a>
  <a class="nav-link active" routerLink="/wizard/delivery-details" routerLinkActive="active">
    <span>
       <div class="text-center">
      <i class="fas fa-2x fa-globe"></i>
    </div>
    Delivery Details
    </span>
    <span class="text-center">
      <i class="fas fa-chevron-right"></i>
    </span>
  </a>
  <a class="nav-link active" routerLink="/wizard/review" routerLinkActive="active">
    <span>
      <div class="text-center">
      <i class="fas fa-2x fa-sticky-note"></i>
    </div>
    Review and Submit
    </span>
    <span class="text-center">
      <i class="fas fa-chevron-right"></i>
    </span>
  </a>
</nav>
