.link{
  cursor: pointer;
}
.next-button{
  color: #FFF;
  background-color: #5d78ff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.next-button:hover{
  color: #FFF;
  background-color: #4a5fca;
}
.border-radius-3{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
label{
  color: #7e7f90;
}
.text-blue-grey{
  color: #546e7a;
}
.text-light-gray {
  color: #a2a5b9;
}
.text-primary{
  color: #5763ae!important;
}
